* {
    padding: 1%;
    margin: 1%;
}

body {
    font-family: monospace;
    background-color: gold;
}

/* #score, #time {
    text-decoration: underline;
} */

form {
    text-align: center;
}

#btnStart {
    min-width: 100%;

}
#textDisplay {
    font-size: 4vw;
    text-align: center;
}

#textResponse {
    text-align: center;
    font-style: italic;
    font-size: 5vw;
}

#quizEl {
    padding: 0%;
    border-style: dashed;
}

.scorestyle {
    text-align: center;
    font-style: italic;
    font-size: 5vw;

}

.nameInput {
    min-width: 80%;

    min-height: 4vh;
    font-family: monospace;
    margin-bottom: 5%;
    text-align: center;
    font-size: 100%;
}

.btn {
    min-width: 80%;
    min-height: 4em;
    font-family: monospace;
    font-size: 80%;
    background-color: green;
}

.btn:hover {
    background-color: grey;
}

@media only screen and (min-width: 600px) {
    .btn {
        font-size: 200%;
    }

    .scorestyle {
        text-align: center;
        font-style: italic;
        font-size: 4vw;
    
    }

  }

@media only screen and (min-width: 960px) {
    #textDisplay {
        font-size: 2vw;
        text-align: center;
    }

    section {
        margin-top: 0%;
    }
  } 

