* {
    padding: 1%;
    margin: 1%;
}

body {
    font-family: monospace;
    background-color: gold;
}

/* #score, #time {
    text-decoration: underline;
} */

#textDisplay {
    font-size: 4vw;
    text-align: center;
}

#textResponse {
    text-align: center;
    font-style: italic;
    font-size: 5vw;
}

#quizEl {
    padding: 0%;
    border-style: dashed;
}

.scorestyle {
    text-align: center;
    font-style: italic;
    font-size: 5vw;

}

.nameInput {
    min-height: 5vh;
    font-family: monospace;
    margin-bottom: 5%;
    text-align: center;
    font-size: 200%;
}

.btn {
    min-width: 100%;
    min-height: 5em;
    font-family: monospace;
    font-size: 100%;
    background-color: green;
}

.btn:hover {
    background-color: grey;
}

@media only screen and (min-width: 600px) {
    .btn {
        font-size: 200%;
    }

    .scorestyle {
        text-align: center;
        font-style: italic;
        font-size: 4vw;
    
    }

  }
